@font-face {
    font-family: 'Genese';
    src: url('Genese-excalibur-boldstone.woff2') format('woff2'),
         url('Genese-excalibur-boldstone.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


