@font-face {
    font-family: 'Porpora';
    src: url('Porpora-Regular.woff2') format('woff2'),
         url('Porpora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


