@font-face {
    font-family: 'ZaraOblique';
    src: url('Zara-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ZaraRegular';
    src: url('Zara-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


