@font-face {
    font-family: 'MessapiaBold';
    src: url('Messapia-Bold.woff2') format('woff2'),
         url('Messapia-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MessapiaRegular';
    src: url('Messapia-Regular.woff2') format('woff2'),
         url('Messapia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


