@font-face {
    font-family: 'DirectorBold';
    src: url('Director-Bold.woff2') format('woff2'),
         url('Director-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DirectorLight';
    src: url('Director-Light.woff2') format('woff2'),
         url('Director-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DirectorRegular';
    src: url('Director-Regular.woff2') format('woff2'),
         url('Director-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}