@font-face {
    font-family: 'HappyTimesBold';
    src: url('happy-times-NG_bold_master_web.woff2') format('woff2'),
         url('happy-times-NG_bold_master_web.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HappyTimesRegular';
    src: url('happy-times-NG_regular_master_web.woff2') format('woff2'),
         url('happy-times-NG_regular_master_web.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HappyTimesItalic';
    src: url('happy-times-NG_italic_master_web.woff2') format('woff2'),
         url('happy-times-NG_italic_master_web.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


