
@font-face {
    font-family: 'AUTHENTICSans';
    src: url('AUTHENTICSans-60.woff2') format('woff2'),
         url('AUTHENTICSans-60.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}
@font-face {
    font-family: 'AUTHENTICSansNormal';
    src: url('AUTHENTICSans-90.woff2') format('woff2'),
         url('AUTHENTICSans-90.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'AUTHENTICSans';
    src: url('AUTHENTICSans-130.woff2') format('woff2'),
         url('AUTHENTICSans-130.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'AUTHENTICSans-Condensed';
    src: url('AUTHENTICSans-Condensed-150.woff2') format('woff2'),
         url('AUTHENTICSans-Condensed-150.woff') format('woff');
    font-weight: bolder;
    font-style: normal;

}
@font-face {
    font-family: 'AUTHENTICSans-Condensed';
    src: url('AUTHENTICSans-Condensed-60.woff2') format('woff2'),
         url('AUTHENTICSans-Condensed-60.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}
@font-face {
    font-family: 'AUTHENTICSans-Condensed';
    src: url('AUTHENTICSans-Condensed-90.woff2') format('woff2'),
         url('AUTHENTICSans-Condensed-90.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'AUTHENTICSans-Condensed';
    src: url('AUTHENTICSans-Condensed-130.woff2') format('woff2'),
         url('AUTHENTICSans-Condensed-130.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'AUTHENTICSans-Condensed';
    src: url('AUTHENTICSans-Condensed-150.woff2') format('woff2'),
         url('AUTHENTICSans-Condensed-150.woff') format('woff');
    font-weight: bolder;
    font-style: normal;

}