@font-face {
    font-family: 'Fantome';
    src: url('Fantome-Regular.woff2') format('woff2'),
         url('Fantome-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


